* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: .95rem;
}

body {
    background-color: rgb(32, 33, 36);
    font-family: 'Roboto', arial, sans-serif;
    height: 100vh;
    width: 100vw;
}

.small-text {
    font-size: .85rem;
}

ul {
    display: flex;
    align-items: center;
}

ul>li {
    list-style-type: none;
    margin-inline: .5rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/****************/
/**** NAVBAR ****/
/****************/

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.menu-bg:hover {
    background-color: rgba(150, 150, 150, 0.2);
    border-radius: 50%;
}

.user {
    border-radius: 50%;
}

/**********************/
/**** MAIN SECTION ****/
/**********************/

section {
    padding-top: 20vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 1rem;
}

h1 img {
    height: 12vh;
}

.filter-grey {
    filter: invert(72%) sepia(0%) saturate(1397%) hue-rotate(139deg) brightness(84%) contrast(87%);
}

.input-area {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid rgba(150, 150, 150, 0.2);
    background-color: rgb(32, 33, 36);
}
input[type="text"] {
    outline: none;
    background-color: transparent;
    color: white;
    border: none;
    width: 80%;
    min-height: inherit;
}

.input-area:hover {
    background-color: rgba(150, 150, 150, 0.2);
}

.input-area img {
    height: 1.5rem;
}

section div {
    display: flex;
    flex-direction: row;
}

.btn {
    margin-top: 1rem;
    margin-inline: .5rem;
    padding: .5rem;
    background-color: rgba(150, 150, 150, 0.2);
    color: white;
    border-radius: .25rem;
    border: 1px solid rgb(32, 33, 36);
}

.btn:hover {
    border: 1px solid rgba(150, 150, 150, 0.2);
    cursor: pointer;
}

/****************/
/**** FOOTER ****/
/****************/

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: #999da2;
    background-color: #171717;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: .75rem;
}

.carbon {
    display: flex;
    justify-content: center;
    color: #999da2;
    order: 1;
}

.carbon img {
    max-height: 1rem;
    padding-right: .2rem;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
}

.footer-links:nth-child(1) {
    order: 0;
}

.footer-links:nth-child(2) {
    order: 2
}

footer ul a {
    color: #999da2;
    margin: auto .5rem;
}

@media (max-width: 300px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        margin-bottom: .5rem;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }
    
    .btn {
        margin-inline: .25rem;
        margin-top: .5rem;
    }

    .input-area {
        max-width: 230px;
    }
}

@media (max-width: 350px) {
    h1 img {
        height: 9vh;
    }
    .input-area {
        width: 80%;
    }
}


@media (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer ul {
        padding: .3rem;
    }

    .footer-links a {
        margin-inline: .2rem;
    }

    .input-area {
        width: 70%;
    }
}

@media (max-width: 850px) {
    footer {
        padding: 1rem;
    }
    
    .carbon {
        width: 100%;
        justify-content: center;
        order: 0;
        margin-bottom: .5rem;
    }

    .footer-links {
        display: flex;
    }
    .right {
        justify-content: flex-start;
    }

    .left {
        justify-content: flex-end;
    }

}



